<div class="container vw-100">
        <div class="row mt-4">
            <div class="bg-white p-5 rounded-5 text-secondary shadow w-100">
                <h1 class="text-center fw-bold">¡Bienvenido!</h1>
                <div class="text-center">
                   <span class="text-center">"app de estacionamiento"</span>
                </div>
                <div class="container w-25">
                    <div class="row mt-4 text-center">
                        <div class="col-4">
                            <a [routerLink]="['estacionamiento']" class="btn btn-outline-info">reserva</a>
                        </div>
                        <div class="col-4">
                            <a [routerLink]="['cuenta']" class="btn btn-outline-info">cuenta</a>
                        </div>
                        <div class="col-4">
                            <a [routerLink]="['historial']" class="btn btn-outline-info">historial</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="row gx-5">
            <div class="col-8">
                <div class="bg-white p-5 mt-4 rounded-5 text-secondary shadow">
                    <router-outlet></router-outlet>
                </div>
            </div>
            
            <div class="col-4">
                <div class="bg-white p-5 mt-4 rounded-5 text-secondary shadow">
                    Cuenta
                </div>
            </div>

        </div>
    
</div>
