<h2>Movimientos</h2>
<div class="pt-3">
    <div class="border-bottom text-center" style="height: 0.9rem"></div>
</div>
<ngb-alert [dismissible]="true" (closed)="closeAlert()" [type]="'danger'" *ngIf="errorMessage">{{ errorMessage }}</ngb-alert>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Tipo</th>
            <th scope="col">Monto</th>
            <th scope="col">Fecha</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let movimiento of movimientos">
            <td>{{movimiento.tipo}}</td>
            <td>$ {{movimiento.monto}}</td>
            <td>{{movimiento.fecha | date:'MM/dd/yyyy @ h:mma'}}</td>
        </tr>
    </tbody>
</table>


