<div class="container-fluid d-flex justify-content-center align-items-center vw-100 vh-100">
    <div class="bg-white p-5 rounded-5 text-secondary shadow" style="width: 25rem">
        <div class="text-center fs-1 fw-bold">¡Pagina no encontrada!</div>
        <div class="text-center">
           <span class="text-center">ERROR 404</span>
        </div>
        <button type="button" (click)="redirigirUsuario()" class="btn btn-info text-white w-100 mt-4 fw-semibold shadow-sm">Volver</button>
    </div>
</div>
