<form #patenteForm="ngForm" (ngSubmit)="addPatente(patenteCadena.value)">
    <div class="input-group mb-3">
        <input type="text" class="form-control bg-light" id="cadena" placeholder="Ingrese numero de patente. Ej. AAA000 / AA000AA" ngModel name="cadena" #patenteCadena>
        <button class="btn btn-success">registrar patente</button>
    </div>
</form>
<ngb-alert [dismissible]="true" (closed)="closeAlert()" [type]="'danger'" *ngIf="errorMessage">{{ errorMessage }}</ngb-alert>
<ngb-alert [dismissible]="true" (closed)="closeAlert()" [type]="'success'" *ngIf="successMessage">{{ successMessage }}</ngb-alert>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <button class="border border-dark rounded-3 bg-gray text-center pe-auto mb-3 p-0" *ngFor="let patente of patentes" (click)="iniciarEstacionamiento(patente.cadena)" placement="end" ngbTooltip="Iniciar estacionamiento.">
                <div class="bg-primary w-100 rounded-top"><span>REPUBLICA ARGENTINA</span></div>
                {{patente.cadena}}
            </button>
        </div>
        <div class="col-sm-8">
            <div class="border border-dark rounded-3 p-3" *ngIf="estacionamientoPendiente">
                <p>Estacionamiento iniciado: {{estacionamiento.inicio | date:'MM/dd/yyyy @ h:mma'}} | patente: {{estacionamiento.patente.cadena}}</p>
                <button class="btn btn-danger" (click)="finalizarEstacionamiento(estacionamiento.id)">finalizar</button>
            </div>
        </div>
    </div>
</div>
