<h2>{{ 'movements.movements' | translate }}</h2>
<div class="pt-3">
    <div class="border-bottom text-center" style="height: 0.9rem"></div>
</div>
<ngb-alert [dismissible]="true" (closed)="closeAlert()" [type]="'danger'" *ngIf="errorMessage">{{ errorMessage }}</ngb-alert>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">{{ 'movements.type' | translate }}</th>
            <th scope="col">{{ 'movements.amount' | translate }}</th>
            <th scope="col">{{ 'movements.date' | translate }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let movement of movements">
            <td>{{movement.type}}</td>
            <td>$ {{movement.amount}}</td>
            <td>{{movement.date | date:'MM/dd/yyyy @ h:mma'}}</td>
        </tr>
    </tbody>
</table>


